# Copia este fichero como .env.local y rellena los valores de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://XXXXXXXXXXXXXXXX.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Contraseña del admin (cámbiala por la que quieras)
NEXT_PUBLIC_ADMIN_PASSWORD=admin1234
